src/main/xsd/asimov.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    xmlns:rail="http://www.railml.org/schemas/2016" xmlns:aptd="https://github.com/APTD/Simulation"
    targetNamespace="https://github.com/APTD/Simulation">


    <xs:include schemaLocation="network.xsd"/>
    <xs:include schemaLocation="passenger.xsd"/>

    <xs:element name="asimov">
        <xs:complexType>
            <xs:all>
                <xs:element name="passenger" type="aptd:ipassenger"/>
                <xs:element name="network" type="aptd:inetwork"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
