src/main/xsd/network.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    xmlns:rail="http://www.railml.org/schemas/2016"
    xmlns:asimov="https://raw.githubusercontent.com/APTD/Simulation/master/src/main/xsd"
    targetNamespace="https://raw.githubusercontent.com/APTD/Simulation/master/src/main/xsd">


    <xs:import namespace="http://www.railml.org/schemas/2016"
        schemaLocation="http://www.railml.org/files/download/schemas/2016/railML-2.3/schema/railML.xsd"/>
    <xs:simpleType name="tNumPassenger">
        <xs:annotation>
            <xs:documentation>generic type for the number of passengers</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:double"/>
    </xs:simpleType>
    <xs:attribute name="aPassengerLoad" type="asimov:tNumPassenger">
        <xs:annotation>
            <xs:documentation>passenger load </xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:simpleType name="tFrequency">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>
    <xs:attribute name="aFrequency" type="asimov:tFrequency">
        <xs:annotation>
            <xs:documentation>Allows to specify a general frequency</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:complexType name="eLine">
        <xs:complexContent>
            <xs:extension base="rail:tElementWithIDAndName">
                <xs:attribute ref="asimov:aFrequency"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eLineplan">
        <xs:sequence>
            <xs:element name="lines" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="line" type="asimov:eLine" maxOccurs="unbounded"
                            minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="period" type="xs:duration" use="required">
            <xs:annotation>
                <xs:documentation>Period for which the lineplan is constructed in
                    minutes</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="infrastructure">
        <xs:complexContent>
            <xs:extension base="rail:tInfrastructure">
                <xs:sequence>
                    <xs:element minOccurs="0" name="infraAttrGroups" type="rail:eInfraAttrGroup"
                        maxOccurs="unbounded"/>
                    <xs:element name="tracks" type="rail:eTracks" maxOccurs="1" minOccurs="1"/>
                    <xs:element name="trackGroups" type="rail:eTrackGroups" maxOccurs="unbounded"
                        minOccurs="0"/>
                    <xs:element name="controllers" type="rail:eControllers" maxOccurs="unbounded"
                        minOccurs="0"/>
                    <xs:element name="speedProfiles" type="rail:eSpeedProfiles"
                        maxOccurs="unbounded" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="rollingStock">
        <xs:complexContent>
            <xs:extension base="rail:tRollingstock">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="vehicles" type="rail:eVehicles"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="formations"
                        type="rail:eFormations"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tTrainPart">
        <xs:complexContent>
            <xs:extension base="rail:eTrainPart">
                <xs:attribute name="lineRef" type="rail:tGenericRef"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eTrainParts">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="trainPart"
                type="asimov:tTrainPart"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timetable">
        <xs:complexContent>
            <xs:extension base="rail:tTimetable">
                <xs:sequence>
                    <xs:element name="timetablePeriods" type="rail:eTimetablePeriods" maxOccurs="1"
                        minOccurs="0"/>
                    <xs:element name="operatingPeriods" type="rail:eOperatingPeriods" maxOccurs="1"
                        minOccurs="1"/>
                    <xs:element name="categories" type="rail:eCategories" maxOccurs="1"
                        minOccurs="0"/>
                    <xs:element name="annotations" type="rail:eAnnotations" maxOccurs="1"
                        minOccurs="0"/>
                    <xs:element name="trainParts" type="asimov:eTrainParts" maxOccurs="1"
                        minOccurs="1"/>
                    <xs:element name="trains" type="rail:eTrains" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="trainGroups" type="rail:eTrainGroups" maxOccurs="unbounded"
                        minOccurs="0"/>
                    <xs:element name="rosterings" type="rail:eRosterings" maxOccurs="1"
                        minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eShortestPathAlgorithm">
        <xs:annotation>
            <xs:documentation>The shortest path algorithm computes the shortest paths for the
                passengers.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rail:tElementWithReference"> </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="shortestPathAlgorithmRef">
        <xs:sequence>
            <xs:element name="shortestPathAlgorithm" type="asimov:eShortestPathAlgorithm"
                minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ePersona">
        <xs:complexContent>
            <xs:extension base="rail:tElementWithReference">
                <xs:attribute name="age" type="xs:int" use="required">
                    <xs:annotation>
                        <xs:documentation>maybe change to age classes?</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="1.3" name="walking_speed" type="xs:double" use="optional"/>
                <xs:attribute name="luggage_size" type="xs:int" use="required">
                    <xs:annotation>
                        <xs:documentation>define different luggage sizes?</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="own_cell_phone" type="xs:boolean" use="optional"/>
                <xs:attribute name="risk_readiness" type="xs:double" use="optional">
                    <xs:annotation>
                        <xs:documentation>the readiness to risk possibly insecure
                            connections</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="shortestPathAlgorithmRef" type="rail:tGenericRef" use="required"
                />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tGenericDistribution">
        <xs:complexContent>
            <xs:extension base="rail:tElementWithIDAndName"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ePersonaDistribution">
        <xs:complexContent>
            <xs:extension base="asimov:tGenericDistribution"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eGroupDistribution">
        <xs:complexContent>
            <xs:extension base="asimov:tGenericDistribution"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eTimeDistribution">
        <xs:complexContent>
            <xs:extension base="asimov:tGenericDistribution"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eODEntry">
        <xs:sequence>
            <xs:element name="startNode" type="rail:eTrackNode" maxOccurs="1" minOccurs="1"/>
            <xs:element name="endNode" type="rail:eTrackNode" maxOccurs="1" minOccurs="1"/>
            <xs:element name="entryTimeDistribution" type="asimov:tGenericDistribution"
                maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>The time a passenger enters the door of the railway
                        station</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personaDistribution" type="asimov:ePersonaDistribution" maxOccurs="1"
                minOccurs="1"/>
            <xs:element name="groupDistribution" type="asimov:eGroupDistribution" maxOccurs="1"
                minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:ID">
                    <xs:pattern value="lintim-od-[0-9]+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="numPassengers" use="required" type="asimov:tNumPassenger">
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="eODMatrix">
        <xs:annotation>
            <xs:documentation>The od matrix giving the number of passenger who are willing to go
                from one trackNode to another trackNode during a given timeframe</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="odEntry" type="asimov:eODEntry" maxOccurs="unbounded" minOccurs="1"/>
            <xs:element name="operatingPeriod" type="rail:eOperatingPeriod" maxOccurs="1"
                minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eDemand">
        <xs:complexContent>
            <xs:extension base="rail:tGlobalElementWithMetadata">
                <xs:sequence>
                    <xs:element name="odMatrix" type="asimov:eODMatrix" maxOccurs="1" minOccurs="1"/>
                    <xs:element name="personas" maxOccurs="1" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="persona" type="asimov:ePersona"
                                    maxOccurs="unbounded" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eDelayDistribution">
        <xs:annotation>
            <xs:documentation>A delay either happens at a trackNode or between two consecutive
                trackNodes. It is the amount of time by which the timetable is shifted minus
                possible buffer times.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="asimov:tGenericDistribution">
                <xs:attribute name="trackRef" type="rail:tGenericRef" use="optional"/>
                <xs:attribute name="lengthM" type="rail:tLengthM" use="required">
                    <xs:annotation>
                        <xs:documentation>The position of the delay along the
                            track.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="operatingPeriodRef" type="rail:tGenericRef"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="tDelayAmount">
        <xs:annotation>
            <xs:documentation>Generic Type for delay amounts</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>
    <xs:complexType name="eDispositionAlgorithm">
        <xs:annotation>
            <xs:documentation>input parameters: the current timetable situation (with delays), the
                current set of passengers in the system</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rail:tElementWithIDAndName"> </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eDispositionManager">
        <xs:annotation>
            <xs:documentation>The disposition manager taking the disposition
                decisions</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rail:tElementWithIDAndName">
                <xs:attribute name="dispositionAlgorithmRef" type="rail:tGenericRef" use="required"/>
                <xs:attribute name="ocpGroupRef" type="rail:tGenericRef" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dispositionManagerRef">
        <xs:complexContent>
            <xs:extension base="rail:tElementWithReference">
                <xs:sequence>
                    <xs:element name="dispositionManager" type="asimov:eDispositionManager"
                        maxOccurs="1" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eDisposition">
        <xs:complexContent>
            <xs:extension base="rail:tGlobalElementWithMetadata">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="delayDistribution"
                        type="asimov:eDelayDistribution"/>
                    <xs:element name="dispositionAlgorithm" type="asimov:eDispositionAlgorithm"
                        maxOccurs="unbounded" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The algorithm by which the disposition manager decides
                                about the waiting/departing and sequencing of trains in case of
                                delays.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dispositionManager" type="asimov:eDispositionManager"
                        maxOccurs="unbounded" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The disposition manager deciding about the disposition
                                decisions</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType final="#all" name="network">
        <xs:sequence>
            <xs:element ref="rail:infrastructure"/>
            <xs:element ref="rail:rollingstock"/>
            <xs:element name="lineplan" type="asimov:eLineplan"/>
            <xs:element ref="rail:timetable"/>
            <xs:element name="demand" type="asimov:eDemand"/>
            <xs:element name="disposition" type="asimov:eDisposition"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
